:root {
    --lightGray: #a4a49c;
    --mediumGray: #3d3c3e;
    --darkGray: #333;
  }
  
  .movie-page-container {
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(26, 26, 26, 1) 35%, rgba(0, 0, 0, 1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    color: var(--lightGray);
    min-height: calc(80vh - 2rem);
    text-align: center;
    overflow-x: hidden;
  }
   
  .movie-page-container h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
   
  .movie-page-container img {
    width: 50rem;
    height: auto;
    object-fit: cover;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  }
  
  .movie-page-container p {
    font-size: 1.1rem;
    line-height: 1.6;
    max-width: 600px;
  }
  